.ente-container {
    
    text-align: center;
    height: 100vh; /* Use viewport height to ensure the container takes the whole viewport height */
    width: 100%;
    background-color: #edd2cb;
    overflow: none;
}

.Ente {
    /* Add styling for the inner content if needed */
    overflow: none;
}
